
<div class="container">
  <h1 class="app-header">Currency Converter App</h1>
  <form class="currency-form">
      <div class="form-group" class="amount-label">
          <label for="amount">Amount:</label>
          <input type="number" id="amount" name="amount" [(ngModel)]="amount" class="form-control" placeholder="Enter amount">
      </div>
      <div class="form-group">
          <label for="fromCurrency">From Currency:</label>
          <select id="fromCurrency" name="fromCurrency" [(ngModel)]="fromCurrency" class="form-control">
              <option value="USD">USD</option>
              <option value="EUR">EUR</option>
              <option value="GBP">GBP</option>
              <option value="JPY">JPY</option>
              <option value="AUD">AUD</option>
          </select>
      </div>
      <div class="form-group">
          <label for="toCurrency">To Currency:</label>
          <select id="toCurrency" name="toCurrency" [(ngModel)]="toCurrency" class="form-control">
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
            <option value="GBP">GBP</option>
            <option value="JPY">JPY</option>
            <option value="AUD">AUD</option>
          </select>
      </div>
          
  </form>
  <div class="button-container">
      <button type="submit" (click)="convertCurrency()"  class="flex-button">Convert</button>
  </div>
  <div class="result">
      <p>Converted Amount: <span id="convertedAmount" >{{result}}</span></p>
  </div>
  <div>
    <table class="currency-table">
        <thead class="table-columns">
          <tr>
            <th>Date Created</th>
            <th>Source Currency</th>
            <th>Target Currency</th>
            <th>Value Currency</th>
            <th>Result</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let conversion of previousConversions">
              <td>{{conversion.dateCreated | date}}</td>
              <td>{{conversion.sourceCurrency}}</td>
              <td>{{conversion.targetCurrency}}</td>
              <td>{{conversion.valueCurrency}}</td>
              <td>{{conversion.result}}</td>
            </tr>
        
        </tbody>
      </table>
  </div>
 
</div>